.tmp*
tmp
target
*.class
*.jar
*.war
*.ear

.metadata
.settings
.project
.classpath
.recommenders
RemoteSystemsTempFiles

.idea/
*.iml
*.ipr
*.iws

node
node_modules
assets
*.code-workspace

*.log
hs_err_pid*

1dev/data/
